{% extends 'owner.html.twig' %}
{% block title %}Owner Profile{% endblock %}
{% block main %}
	<div class="main">
	{% if terrains|length == 0 %}
        <p>Vous n'avez aucun terrain !</p>
		<a href="{{ path('owner_terrain_add') }}" class="button">Add staduim</a>
    {% else %}
	<h1>Vous avez  ' {{terrains|length}} ' terrains :</h1>
		<ol>
			{% for terrain in terrains %}
				<li><h3>nom : {{terrain.name}}</h3></li>
			{% endfor %}
		</ol>
		{% endif %}
	</div>
{% endblock %}

