main{
    margin-left: 300px;
}


/* Style for the menu */
.menu ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
}

.menu li {
margin-right: 20px;
}

.menu a {
color: white;
text-decoration: none;
font-size: 18px;
}

.menu a:hover {
border-bottom: 2px solid white;
}

/* Style for the sidenav */
.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    overflow-x: hidden;
    width: 200px;
}

.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 20px;
color: #818181;
display: block;
}

.sidenav a:hover {
color: #089940;
}

/* Style for the container */
.container {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}

/* Style for the profile box */
.profile {display: flex;flex-direction: column;align-items: center;justify-content: center;background-color: #f2f2f2;padding: 20px;border-radius: 10px;margin-top: 180px;}
p{
color: #818181;
}

.button {
    background-color: #089940;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-bottom: 5px;
    width: 140px;
}
.button:hover {
    background-color: #fff;
    color: #089940;
}  
@media (max-width: 992px) {
.main {margin-left: 200px; /* Same as the width of the sidenav */}

}