{% extends 'admin.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block main %}
<div class="main">

    <h1>Edit Reservation</h1>

    {{ include('admin/admin_reservation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_reservation_index') }}" class="btn btn-success">back to list</a>

    {{ include('admin/admin_reservation/_delete_form.html.twig') }}
    </div>
{% endblock %}
