{% extends 'owner.html.twig' %}
{% block title %}Edit password!{% endblock %}

{% block main %}
<div class= "main">
<h1>Edit your password </h1>
{{ form_start(form) }}
{{ form_row(form.password) }}
{{ form_row(form.submit) }}
{{ form_end(form) }}
<div>
{% endblock %}