{% extends 'owner.html.twig' %}

{% block title %}Edit Terrain{% endblock %}

{% block main %}
<div class="main">
    <h1>Edit Terrain</h1>

    {{ include('owner/owner_terrain/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_owner_terrain_index') }}" class="btn btn-warning">back to list</a>

</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/image.js') }}"></script>
{% endblock %}
