{% extends 'base.html.twig' %}

{% block title %}Page non found{% endblock %}

{% block main %}
    <main class="container" style="margin-top: 120px;">
        <section class="row">
            <div class="col-12">
                <h1>Page non found</h1>
                <p>the page your looking for does'nt existe.</p>            
            </div>
        </section>
    </main>
{% endblock %}
