{% extends "base.html.twig" %}

{% block title %}Something went wrong{% endblock %}

{% block main %}
    <main class="container" style="margin-top: 120px;">
        <section class="row">
            <div class="col-12">
                <h3 >Something went wrong</h3>
                <p>try again.</p>            
            </div>
        </section>
    </main>
{% endblock %}