{% extends "base.html.twig" %}

{% block title %}Access deneid{% endblock %}

{% block main %}
    <main class="container" style="margin-top: 120px;">
        <section class="row">
            <div class="col-12">
                <h3 >Access deneid</h3>
                <p>you dont have access to reach this page.</p>            
            </div>
        </section>
    </main>
{% endblock %}